.review-container {
  display: flex;
  border: 1px solid gray;
  width: 571px;
  height: 107px;
  margin: 0 auto;
  margin-bottom: 21px;
  border-radius: 8px;
}
.review-container img {
  padding: 8px;
  width: 91px;
  height: 91px;
  border-radius: 81px;
}
.name-quantity {
  display: flex;
  align-items: center;
}
.quantity {
  background-color: #ff9900;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 6px;
}
.review-details-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 5px;
}
.review-details p,
.review-details h3 {
  margin: 4px 0;
}
.review-details p {
  font-size: 18px;
}
.delete-button {
  background: rgba(235, 87, 87, 0.3);
  color: #eb5757;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  border: none;
}
.color {
  color: #ff9900;
}
